* {
  font-family: "Roboto";
}

header {
  background-color: #1f2937;
  color: #ffffff;
  font-family: "roboto";
  padding: 2em 10em 10em;
}

.header-logo {
  flex: 1;
}

.hero-section {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2px;
}

.hero-section button {
  background-color: #3882f6;
  border-radius: 10px;
  color: #ffffff;
  padding: 0.7em 2em;
  font-size: 18px;
}

nav {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2px;
  width: 1200px;
}

menu ul {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  list-style: none;
}

/* header menu {
  flex: 1;
} */

.quote-section {
  background-color: #e5e7eb;
  padding: 3em;
}



.container {
  /* height: 140px; */
  padding: 16px;
  /* background: plum; */
  /* border: 4px solid indigo; */
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3em;
}

.item {
  width: 200px;
  height: 200px;
  border: 4px solid #3882f6;
  border-radius: 20px;
}

h2 {
  text-align: center;
  font-size: 36px;
  font-weight: 900;
}

footer {
  background-color: #1f2937;
  padding: 3em;
  color: #ffffff;
  text-align: center;
}

.quote-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2em 25em;
}

.quote-section h3 {
  font-size: 36px;
  font-family: "Roboto";
  font-style: italic;
  font-weight: lighter;
}

.quote-section h4 {
  text-align: right;
}

.call-to-action-section {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1px;
  padding: 6em;
  background-color: #3882f6;
  border-radius: 20px;
  color: #ffffff;
}

.call-to-action-section p {
  display: block;

}

.call-to-action-section button {
  background-color: transparent;
  border: 2px solid #ffffff;
  border-radius: 20px;
  color: #ffffff;
  padding: 2em;

}

.item-area p {
  width: 200px;
  text-align: center;
}